<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>+++日付の加減算---</title>
	<link href="/css/calc/index.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		
		<!-- 基準日登録 -->
		<div class="recordDate">
			<p>計算したい日付を入力して下さい
			<form th:action="@{/calc/result}" method="post">
				<input name="date" type="text" placeholder="1997/08/02">
				<button class="result-button button">計算結果</button>
			</form>
		</div>
		
		<!-- タイトル/新規作成ボタン/基準日 -->
		<h2 th:if="${calcList}" class="calcList-title">登録データ</h2>
		<h2 th:if="${results}" class="calcList-title">計算結果</h2>
		<form th:action="@{/calc/insert}" class="insert-form"><button class="insert-button button">新規登録</button></form>
		<h2 th:if="${results}" class="reference-date">基準日 : [[${referenceDate}]]</h2><br>
		
		<!-- 加減算データ一覧 -->
		<div th:if="${calcList}" class="calcList">
			<table>
				<tr>
					<th class="th-id">加減算コード</th>
					<th class="th-date">年</th>
					<th class="th-date">月</th>
					<th class="th-date">日</th>
					<th class="th-explanation">説明</th>
					<th class="th-button">更新</th>
					<th class="th-button">削除</th>
				</tr>
				<tr th:each="data:${calcList}" th:object="${data}">
					<td th:text="*{additionSubtractionCode}"></td>
					<td th:text="*{year}"></td>
					<td th:text="*{month}"></td>
					<td th:text="*{day}"></td>
					<td th:text="*{explanation}"></td>
					<!-- 更新ボタン -->
					<td><form th:action="@{/calc/update/id={id}(id=*{additionSubtractionId})}"><button class="button3">更新</button></form></td>
					
					<td><form th:action="@{/calc/delete/id={id}(id=*{additionSubtractionId})}" method="post"><button class="button3">削除</button></form></td>
				</tr>
			</table>
		</div>
		
		<!-- 計算データ一覧 -->
		<table th:if="${results}" class="calcList">
			<tr>
				<th class="th-id">加減算コード</th>
				<th class="th-date">年</th>
				<th class="th-date">月</th>
				<th class="th-date">日</th>
				<th class="th-explanation">説明</th>
				<th class="th-result">計算結果</th>
			</tr>
			<tr th:each="result:${results}" th:object="${result}">
				<td th:text="*{additionSubtractionCode}"></td>
				<td th:text="*{year}"></td>
				<td th:text="*{month}"></td>
				<td th:text="*{day}"></td>
				<td th:text="*{explanation}"></td>
				<td th:text="*{calcResult}"></td>
			</tr>
		</table>
	</div>
</main>
</body>
</html>