<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>+++日付の加減算---</title>
	<link href="/css/calc/insert.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		<div class="insert">
			<!-- 加減算データ新規登録 -->
			<div class="insert-title">
				<h3>加減算データ新規登録</h3>
			</div>
			
			<form th:action="@{/calc/insert}" method="post" th:if="${calcDataForm}" th:object="${calcDataForm}">
				<div class="input-date">
					<label for=year>年:</label>
					<input name="year" id="year" type="number" value="0">
					<label>月:</label>
					<input name="month" type="number" value="0">
					<label>日:</label>
					<input name="day" type="number" value="0">
					<span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger"></span>
					<span th:if="${#fields.hasErrors('month')}" th:errors="*{month}" class="text-danger"></span>
					<span th:if="${#fields.hasErrors('day')}" th:errors="*{day}" class="text-danger"></span>
				</div>
				
				<div class="input-explanation">
					<label>説明:</label>
					<input name="explanation" type="text">
					<span th:if="${#fields.hasErrors('explanation')}" th:errors="*{explanation}" class="text-danger"></span>
				</div>
				
				<button class="button2">新規登録</button>
			</form>
		</div>
	</div>
</main>
</body>
</html>