<!-- レイアウト用ヘッダーぺージ -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
</head>
<body>
<header layout:fragment="header">
	<div class="header-content">
	
		<div class="header-left">
			<h1 th:if="${username}">
				<a th:href="@{/calc/}">Date Arithmetic ~日付加減算~ </a>
			</h1>
			<h1 th:if="${username} == null">
				<a th:href="@{/user/signIn}" >Date Arithmetic ~日付加減算~ </a>
			</h1>
		</div>
		
		<div class="header-right" th:if="${username}">
			<h3>
				<!-- <a th:href="@{/user/update-id-name}">[[${username}]]さん</a>、こんにちは-->
				[[${username}]]さん、こんにちは
			</h3>
			<form th:action="@{/user/signout}" method="post">
				<input type="submit" th:value="サインアウト">
			</form>
		</div>
		
	</div>
</header>
</body>
</html>