@charset "UTF-8";

/*-----------------
	サインインフォーム
-------------------*/

.signIn {
	width:350px;
	padding:40px 50px 60px 50px;
	border-radius:10px;
	margin:0 auto;
	margin-top:40px;
	background-color:rgba(0,0,0,0.5);
}

.signInTitle {
	width:100%;
	text-align:center;
}

.signIn h2 {
	width:50%;
	color:white;
	font-size:29px;
	border-bottom:solid 2px white;
	margin-bottom:30px;
}

.signInError {
	text-align:center;
}

.signIn label {
	color:white;
	font-size:20px;
	font-weight:bold;
}

.signIn input {
	width:95%;
	padding:8px;
	margin-top:10px;
	margin-bottom:25px;
}