@charset "UTF-8";

/* header */
header {
	height:100px;
	background-color:#2f2f2f;
	color:white;
}

.header-content {
	width:90%;
	margin:0 auto;
}

.header-left {
	float:left;
}

.header-left h1 {
	line-height:100px;
	font-size:29px;
	margin:0;
	font-weight:normal;
	font-style:italic;
}

.header-left a {
	text-decoration: none;
	color:white;
	background-color:rgba(140, 140, 140, 0.4);
	padding:10px 20px;
	border-radius:7px;
	font-weight:normal;
	font-style:italic;
}

.header-right {
	float:right;
}

.header-right h3 {
	display:inline-block;
	padding-right:10px;
}

.header-right form {
	display:inline-block;
	line-height:100px;
	background-color:#a7a7a7;
	padding:0 20px;
	font-size:19px;
}

.header-right input {
	background-color:transparent;
	border-style:none;
	text-decoration:underline;
	cursor:pointer;
	font-size:21px;
	width:auto;
	color: #ffffff;
}

/* footer */
footer {
	height:70px;
	background-color:#2f2f2f;
	color:white;
}

.footer-content {
	width:90%;
	margin:0 auto;
}

.footer-content a{
	color:white;
}

.footer-left {
	float:left;
}

.footer-right {
	float:right;
}

/* その他タグ */
body {
	margin:0;
}

main {
	height:800px;
	background-image:url("/image/pocket-watch-3156771_1280.jpg");
	background-size:cover;
}

/* タグ(不順) */

table {
	background-color:#ffffff;
	border-collapse:collapse; /*セルの線を重ねる*/
}

th, td {
	border:solid 1px #c0c0c0;
	padding:10px;
	height:40px;
}

th {
	background-color:rgba(60, 60, 60, 0.4);
	color:white;
}

td {
	text-align:center;
}

/* クラス */

.content {
	width:90%;
	margin:0 auto;
	padding-top:5px;
}

.content h2 {
	display:inline-block;
}

.text-danger {
	color:#ff0000;
}

.button {
	background-color:rgba(50, 50, 50, 0.8);
	color:white;
	font-weight:bold;
	border-radius:5px;
	padding:5px 10px;
}

.button2 {
	background-color:rgba(140, 140, 140, 0.9);
	color:white;
	font-weight:bold;
	letter-spacing:3px;
	border-radius:5px;
}

.button3 {
	
}

.button-2up {
	margin-top:20px;
}