@charset "UTF-8";
/* テーブル */
.th-id {
	width:120px;
}

.th-date {
	width:60px;
}

.th-explanation {
	width:200px;
}

.th-button {
	width:60px;
}

.th-result {
	width:140px;
}

/* クラス */
.recordDate {
	padding-top:30px;
}
.recordDate p {
	color:white;
	font-size:20px;
	background-color:rgba(100,100,100,0.4);
	padding:10px 20px;
	border-radius:10px;
	display:inline-block;
	font-weight:normal;
}

.recordDate input {
	padding:5px;
	width:200px;
	
}

.dataInsert {
	padding-top:20px;
}

.dataInsert h2{
	color:white;
	background-color:rgba(100,100,100,0.4);
	font-size:23px;
	padding:10px 20px;
	border-radius:10px;
}

/* ポップアップ表示 */
.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
	/*font-weight:bold;*/
	border:solid 1px black;
	background-color:white;
	padding:5px 10px;
	font-size:15px;
	margin-left:20px;
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}

.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}

/* pop-upというidを持つ要素にチェックが入ったら、overlayというクラスを持つ要素にこのcssを当てる */
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color:rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.window {
	width: 90vw;
	max-width: 380px;
	height: 400px;
	background-color: #f2ffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

.window-content h3{
	margin:0;
}

.window-content input, label{
	margin-top:5px;
}
