@charset "UTF-8";

/*----------
	テーブル
------------*/

.th-id {
	width:120px;
}

.th-date {
	width:60px;
}

.th-explanation {
	width:200px;
}

.th-button {
	width:60px;
}

.th-result {
	width:140px;
}

.th-blank {
	width:16px;
	padding:0;
}


/*-------------
	基準日登録
---------------*/

.recordDate {
	padding-top:15px;
}

.recordDate p {
	display:inline-block;
	color:white;
	font-size:20px;
	font-weight:normal;
	padding:10px 20px;
	border-radius:10px;
	background-color:rgba(100,100,100,0.4);
}

.recordDate input {
	width:200px;
	padding:5px;
}

.result-button {
	height:40px;
	width:80px;
}


/*-------------------------------------------------
	 加減算(計算)データ一覧 の タイトル/新規作成ボタン/基準日
---------------------------------------------------*/

.calcList-title{
	color:white;
	font-size:23px;
	padding:10px 20px;
	border-radius:10px;
	margin-top:25px;
	background-color:rgba(100,100,100,0.4);
}

.insert-form {
	width:150px;
	display:inline-block;
}

.insert-button {
	height:50px;
	width:100px;
	margin:20px;
}

.reference-date {
	color:white;
	background-color:rgba(40, 40, 40, 0.8);
	font-size:23px;
	padding:10px 20px;
	border-radius:5px;
	margin-top:20px;
}

.calc-back {
	display:inline-block;
}

.calc-back-button {
	height:50px;
	width:170px;
	margin:20px;
}


/*--------------------------------------
	加減算データ一覧 兼 計算データ一覧 のテーブル
----------------------------------------*/

thead {
	display:block;
}

tbody {
	display:inline-block;
	overflow-y:scroll; /* 親要素に付ける */
	max-height:427px;
}
