@charset "UTF-8";

span {
	display:block;
	margin-top:10px;
	margin-left:40px;
	text-align:left;
}

.insert {
	width:400px;
	padding:40px 50px 60px 50px;
	border-radius:10px;
	margin:0 auto;
	margin-top:40px;
	background-color:rgba(0,0,0,0.5);
}

.insert-title {
	text-align:center;
}

.insert h3 {
	width:80%;
	color:white;
	font-size:29px;
	border-bottom:solid 2px white;
	margin:0 auto;
	margin-top:25px;
}

.insert label {
	color:white;
	font-size:20px;
	font-weight:bold;
}

.insert input {
	padding:8px;
	margin-top:10px;
}

.insert form {
	margin-top:40px;
	text-align:center;
}

.input-date {
	width:100%;
	margin-bottom:25px;
}

.input-date input{
	width:60px;
	margin-right:10px;
}

.input-explanation {
	margin-bottom:40px;
}

.input-explanation input {
	width:80%;
}
