@charset "UTF-8";

.update {
	width:400px;
	padding:40px 50px 60px 50px;
	border-radius:10px;
	margin:0 auto;
	margin-top:40px;
	background-color:rgba(0,0,0,0.5);
}

.update-title {
	text-align:center;
}

.update h3 {
	width:80%;
	color:white;
	font-size:29px;
	border-bottom:solid 2px white;
	margin:0 auto;
	margin-top:25px;
}

.update label {
	color:white;
	font-size:20px;
	font-weight:bold;
}

.update input {
	padding:8px;
	margin-top:10px;
	margin-bottom:25px;
}

.update form {
	margin-top:40px;
	text-align:center;
}

.input-date {
	width:100%;
}

.input-date input{
	width:60px;
	margin-right:10px;
}

.input-explanation input {
	width:80%;
}
