<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>サインイン</title>
	<link href="/css/user/signIn.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		<div class="signIn">
			<div class="signInTitle">
				<h2>サインイン</h2>
			</div>
			<p th:if="${session[SPRING_SECURITY_LAST_EXCEPTION]} != null"
				th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"
				class="text-danger"> <!-- 認証エラーによって投げられるExceptionは、'SPRING_SECURITY_LAST_EXCEPTION'として保存される -->
				ログインエラーメッセージ
			</p>
			<form th:action="@{/user/signIn}" method="post">
				<label for="mailAddress">ユーザーID</label><br>
				<input name="mailAddress" id="mailAddress" type="text" placeholder="メールアドレス"><br>
				<label for="password">パスワード</label><br>
				<input name="password" id="password" type="password" placeholder="パスワード"><br>
				<button class="button2">サインイン</button>
			</form>
			<form th:action="@{/user/signUp}" class="button-2up"><button class="button2">新規登録はこちら</button></form>
		</div>
	</div>
</main>
</body>
</html>