<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>ユーザー新規登録</title>
	<link href="/css/user/user.css" rel="stylesheet">
	<link href="/css/user/signup.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		<div class="form">
			<div class="form-title">
				<h3>新規登録</h3>
			</div>
			<form th:action="@{/user/signup}" th:object="${userForm}" method="post">
				<label for="mailAddress">ユーザーID</label>
				<input name="mailAddress" id="mailAddress" th:value="*{mailAddress}" type="Email" placeholder="メールアドレス"><br>
				<span th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}" class="text-danger"></span>
				<span th:if="${sqlError}" th:text="${sqlError}" class="text-danger"></span>
				<div th:if="!(${#fields.hasErrors('mailAddress')})and !(${sqlError})" class="space"></div>
				
				
				<label for="password">パスワード</label>
				<input name="password" id="password" th:value="*{password}" type="password" placeholder="パスワード"><br>
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
				<div th:if="!(${#fields.hasErrors('password')})" class="space"></div>
				
				<label for="username">ユーザー名</label>
				<input name="username" id="username" th:value="*{username}" type="text" placeholder="ニックネーム"><br>
				<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
				<div th:if="!(${#fields.hasErrors('username')})" class="space"></div>
				
				<button class="button2">新規登録</button>
				
			</form>
			
			<form th:action="@{/user/signin}" class="button-2up">
				<button class="button2">サインイン画面に戻る</button>
			</form>
		</div>
	</div>
</main>
</body>
</html>