<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>ユーザー新規登録</title>
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		<form th:action="@{/user/signUp}" method="post">
			<label>ユーザーID(メールアドレス)</label>
			<input name="mailAddress" type="text"><br>
			<label>パスワード</label>
			<input name="password" type="password"><br>
			<button>新規登録</button>
		</form>
	</div>
</main>
</body>
</html>