<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>ユーザー新規登録</title>
	<link href="/css/user/signUp.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		<div class="signUp">
			<div class="signUpTitle">
				<h2>新規登録</h2>
			</div>
			<form th:action="@{/user/signUp}" method="post">
				<label>ユーザーID</label>
				<input name="mailAddress" type="text" placeholder="メールアドレス"><br>
				<label>パスワード</label>
				<input name="password" type="password" placeholder="パスワード"><br>
				<label>ニックネーム</label>
				<input name="nickname" type="text" placeholder="ニックネーム"><br>
				<button class="button2">新規登録</button>
			</form>
			<form th:action="@{/user/signIn}" class="button-2up"><button class="button2">サインイン画面に戻る</button></form>
		</div>
	</div>
</main>
</body>
</html>