<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>パスワード変更</title>
	<link href="/css/user/usersUpdate.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
	<div class="content">
		<div class="usersUpdate">
			
			<div class="update-title">
				<h3>パスワード変更</h3>
			</div>
			
			<form th:action="@{/user/usersUpdatePassword}" method="post" class="usersUpdateForm">
				<label>現在のパスワード</label><br>
				<input name="password1" type="password" placeholder="パスワード"><br>
				<label>新しいパスワード</label><br>
				<input name="password2" type="password" placeholder="パスワード"><br>
				<label>新しいパスワードの確認</label><br>
				<input name="password3" type="password" placeholder="パスワード"><br>
				<button class="button2">更新</button>
			</form>
			
		</div>
	</div>
</main>
</body>
</html>