<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdditionSubtractionMapper">

<resultMap type="com.example.demo.entity.CalcData" id="calc">
	<id column="addition_subtraction_id" property="additionSubtractionId" />
	<result column="nickname" property="nickname" />
	<result column="year" property="year" />
	<result column="month" property="month" />
	<result column="day" property="day" />
	<result column="explanation" property="explanation" />
	<result column="user_id" property="userId" />
</resultMap>

<select id="calcDataOne" resultMap="calc">
	SELECT *
	FROM addition_subtraction
	WHERE addition_subtraction_id=#{id}
</select>

<select id="calcDataAll" resultMap="calc">
	SELECT * 
	FROM addition_subtraction 
	WHERE user_id=(
		SELECT user_id
		FROM users
		WHERE mail_address=#{mailAddress}
	)
	ORDER BY addition_subtraction_id DESC
	LIMIT 7;
	
</select>

<insert id="calcDataInsert">
	INSERT INTO addition_subtraction (nickname, year, month, day, explanation, user_id)
	VALUES (#{nickname}, #{year}, #{month}, #{day}, #{explanation}, #{userId})
</insert>

<update id="calcDataUpdate">
	UPDATE addition_subtraction
	SET nickname=#{nickname}, year=#{year}, month=#{month}, day=#{day}, explanation=#{explanation}, user_id=#{userId}
	WHERE addition_subtraction_id=#{additionSubtractionId}
</update>

<delete id="calcDataDelete">
	DELETE FROM addition_subtraction
	WHERE addition_subtraction_id=#{id}
</delete>

</mapper>