<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DateFormulasMapper">

<resultMap type="com.example.demo.entity.DateFormula" id="calc">
	<id column="date_formula_id" property="dateFormulaId" />
	<result column="date_formula_code" property="dateFormulaCode" />
	<result column="year" property="year" />
	<result column="month" property="month" />
	<result column="day" property="day" />
	<result column="explanation" property="explanation" />
	<result column="user_id" property="userId" />
</resultMap>

<select id="selectDateFormula" resultMap="calc">
	SELECT *
	FROM date_formulas
	WHERE date_formula_id=#{id}
</select>

<select id="selectDateFormulas" resultMap="calc">
	SELECT * 
	FROM date_formulas 
	WHERE user_id=(
		SELECT user_id
		FROM users
		WHERE mail_address=#{mailAddress}
	)
	ORDER BY date_formula_id DESC
	
</select>

<insert id="insertDateFormula">
	INSERT INTO date_formulas (date_formula_code, year, month, day, explanation, user_id)
	VALUES (#{dateFormulaCode}, #{year}, #{month}, #{day}, #{explanation}, #{userId})
</insert>

<update id="updateDateFormula">
	UPDATE date_formulas
	SET date_formula_code=#{dateFormulaCode}, year=#{year}, month=#{month}, day=#{day}, explanation=#{explanation}, user_id=#{userId}
	WHERE date_formula_id=#{dateFormulaId}
</update>

<delete id="deleteDateFormula">
	DELETE FROM date_formulas
	WHERE date_formula_id=#{id}
</delete>

</mapper>